body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-body {
  display: flex;
  flex-direction: column;
  gap: 0.2vw;
  padding-bottom: 5vw;
  min-height: 100vh;
  width: 100%;
  background: #c5e9ff;
}

.body {
  display: flex;
  justify-content: center;
  margin-top: 7vw;
  gap: 15vw;
  height: 100%;
  text-align: center;
}

#hospitalImg {
  width: 32vw;
}

h2 {
  margin-bottom: 0 !important;
}
